body{
    font-size: 18px;
    background-color: hsl(0, 0%, 100%);
    text-align: center; 
}

.purple-section{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 50px;
    border-radius: 0 0 40px 40px;
    font-family: 'Hanken Grotesk', sans-serif;
    /* max-width: 400px; */
    /* margin: 0 auto; */
}

.purple-section h1{
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    padding-bottom: 24px;
}

.circle-section{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.circle-section h2{
    font-weight: 800;
    font-size: 56px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.circle-section p{
    color: hsl(241, 100%, 89%);
    font-size: 16px;
    font-weight: 700;
}

.score-wording {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    margin-bottom: 20px;
}

.score-description{
    color: hsl(241, 100%, 89%);
    line-height: 1.5;
}

.summary-section{
    /* margin-top: 20px; */
    padding: 0 40px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.summary-section h2{
    text-align: left;
    font-weight: 700;
    margin: 20px 0;
    font-size: 18px;
}

.summary-breakdown{
    display: flex;
    flex-direction: column;
}

.summary{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

.first-half-summary{
    display: flex;
    align-items: center;

}

.first-half-summary span{
    margin-left: 15px;
}

.red-section{
    background-color: hsl(0, 100%, 97%);
}

.red-section .first-half-summary span{
    color: hsl(0, 100%, 67%);
}

.yellow-section{
    background-color: hsl(39, 100%, 97%);
}

.yellow-section .first-half-summary span{
    color: hsl(39, 100%, 56%);
}

.green-section{
    background-color: hsl(166, 100%, 97%);
}

.green-section .first-half-summary span{
    color:  hsl(166, 100%, 37%);
}

.blue-section{
    background-color: hsl(234,85%, 97%);
}

.blue-section .first-half-summary span{
    color:  hsl(234, 85%, 45%)
}

.light-gray-summary{
    color: hsl(224, 30%, 67%);
}

button{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    font-size: 18px;
}

button:hover, button:active, button:focus{
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


@media (min-width: 800px){
    .content{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 512px;
        margin: 50px auto;
        text-align: center;
        /* box-shadow: 2px 0 6px 3px rgba(0, 0, 0, 0.2); */
    }

    .purple-section{
        padding: 50px;
        border-radius: 40px 40px 40px 40px;
        max-width: 260px;
    }

    .summary-section{
        width: 300px;
        border-radius: 0 40px 40px 0;
        box-shadow: 5px 0 3px -3px rgba(0, 0, 0, 0.2);
    }

    .summary-section h2{
        margin-top: 20px;
    }

    /* offset-x | offset-y | blur-radius | spread-radius | color */
}